/* AUTOR AREA */


.author {
  margin-top: 4rem;
  margin-bottom: 0rem;
  text-align: center;

  @include media-query($on-mobile) {
    margin-bottom: 3em;
  }

  .author-avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    user-select: none;
    background-color: $black;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-animation: 0.5s ease-in forwards fadein;
    animation: 0.5s ease-in forwards fadein;
    opacity: 0;
	
  }
    .author-avatar:hover {
	opacity: 0.5;
  }

  .author-name {
    font-size: 1.5em;
    margin-bottom: 1.5px;
  }
}


/* RESEARCH AREA CONTAINER LIST */
 
.container-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	gap:15px;
	/* max-width: 800px; */
	padding-top:20px;
}

.container-item {
	display: flex;
	flex: calc(100% / 2);
	flex-direction: column;
	background-color: #C7C7C7;
	border: 5px solid #C7C7C7;
	padding: 10px;
	border-radius: 5px;
	max-width: 300px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	}

.container-item:hover {
	background-color: #D4D4D4;
	border: 5px solid #D4D4D4;

}
.container-item:hover h3 {
	color: $text-link-blue-active;
}


.container-item img {
	max-width: 120%;
	max-height: 120%;
	vertical-align:middle;
	margin: -10px;
}

.container-item h3 {
	margin-top: 20px;
	margin-bottom: -5px;
	border: 0px;
}

@media (max-width: $on-mobile ){
	.container-list{
	justify-content: center;
	}
}

/* DARK MODE SETTINGS */

body[data-theme="dark"] {
	
	.container-item {
	background-color: #2A2A2A;
	border: 5px solid #2A2A2A;
	}
	
	.container-item:hover {
	background-color: #3C3C3C;
	border: 5px solid #3C3C3C;
	} 
	
	.container-item:hover h3 {
	    color: $dark-text-link-blue-active;
	}
	
	.navbar {
		background-color:rgb(19,20,24);
	}	
	
}

body .navbar {
		background-color:rgb(255,255,255);
}

/* POINTER */

.pointer {
	display: flex; 
	justify-content: center; 
	padding-bottom:0px; 
	padding-top:24px; 
	font-size:110%; 
	text-align: center; 
	align-items: center; 
	font-weight: bold; 
	gap: 10px;
	min-width: 10px;
}
/* Figures in research area */

.res-center {
display: flex;
justify-content: center;
}

.res-container{
display: flex;
flex-direction: column;
width: 500px;
margin-bottom: 10px;
}

.res-img {
border-radius: 5px;
}

.res-caption{
text-align: justify;
font-size: 12px;
padding-top: 10px;
}

/* MAKE NAVBAR STICKY AND OPAQUE */

.navbar {
  height: auto;
  width: -webkit-calc(#{$narrow-size} - (#{$spacing-full} * 2));
  width: calc(#{$narrow-size} - (#{$spacing-full} * 2));
	background-color:rgb(19,20,24);
	z-index : 1;
	position: relative;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid $light;
  @extend %clearfix;
	padding-right: $spacing-full - 15px $spacing-full;
	padding-left: $spacing-full - 15px $spacing-full;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* .wrapper navbar{ */
	/* max-width: -webkit-calc(#{$narrow-size} - (#{$spacing-full} * 2)); */
	/* max-width: calc(#{$narrow-size} - (#{$spacing-full} * 2)); */
	/* position: relative; */
/* } */

.navbar-center {
	max-width: -webkit-calc(#{$narrow-size} - (#{$spacing-full} * 2));
	max-width: calc(#{$narrow-size} - (#{$spacing-full} * 2));
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-full;
	padding-left: $spacing-full;
	@extend %clearfix;

	@include media-query($on-mobile) {
	max-width: -webkit-calc(#{$narrow-size} - (#{$spacing-full}));
	max-width: calc(#{$narrow-size} - (#{$spacing-full}));
	padding-right: $spacing-full - 10;
	padding-left: $spacing-full - 10;

	}
}

.wrapper main{
	padding: $spacing-full - 15px $spacing-full;
}


/* SOCIAL MEDIA  */

.social-media{
  display: flex;
  justify-content: center;
  }
  
.social-media img{
	max-height: 50px;
	padding: 10px;
}
  
.social-media-footer{
	display: flex;
	justify-content: center;
}

.social-media-footer img{
	max-height: 30px;
		padding: 5px;

}


/* BLOCKQUOTES */

blockquote {
  color: $gray;
  font-style: italic;
  text-align: center;
  opacity: 0.9;
  border-top: 4px solid $light;
  border-bottom: 4px solid $light;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1em;

  > :last-child {
    margin-bottom: 0;
    margin-top: 0;
  }
}

a {
  color: inherit;
}

#link {
	color: inherit; 
	text-decoration: underline;
	text-decoration-color: inherit;
	font-weight: 800;
}

a:visited {
  color: inherit;
}