/* GENERAL LAYOUT */

body .navbar {
  background-color: rgb(255,255,255);
  }
  
  body[data-theme="dark"] {
  
    .navbar {
      background-color: rgb(19,20,24);
    }
    
    .page-content {
      .nolink {
      color: $dark-text-base-color;
      }
    }
    }
  

/* AUTOR AREA */

.author {
margin-top: 4rem;
margin-bottom: 0rem;
text-align: center;
color: inherit; 
text-decoration: none;
text-decoration-color: inherit;

@include media-query($on-mobile) {
  margin-bottom: 3em;
}

.author-avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  user-select: none;
  background-color: $black;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-animation: 0.5s ease-in forwards fadein;
  animation: 0.5s ease-in forwards fadein;
  opacity: 0;
}

.author-avatar:hover {
  opacity: 0.5;
}

.author-name {
  font-size: 1.5em;
  margin-bottom: 1.5px;
}
}

a {
font-weight: bold; 
}

.page-content {
.nolink {
  color: $text-base-color;
}
}


/* POINTER */

.pointer {
display: flex; 
justify-content: center; 
padding-bottom: 0px; 
padding-top: 24px; 
font-size: 110%; 
text-align: center; 
align-items: center; 
font-weight: bold; 
gap: 10px;
min-width: 10px;
}

/* MAKE NAVBAR STICKY AND OPAQUE */
.navbar {
  display: flex;
  justify-content: flex-start; // Align items to the left
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: rgb(19,20,24);
  border-bottom: 1px solid $light;
}

.navbar-center {
max-width: $narrow-size;
margin: 0 auto;
padding: 0 $spacing-full;

@include media-query($on-mobile) {
max-width: $narrow-size;
padding: 0 $spacing-half;
}
}

/* SOCIAL MEDIA */
.social-media {
display: flex;
justify-content: center;
}

.social-media img {
max-height: 50px;
padding: 10px;
}

.social-media-footer {
display: flex;
justify-content: center;
}

.social-media-footer img {
max-height: 30px;
padding: 5px;
}

/* BLOCKQUOTES */

blockquote {
color: $gray;
font-style: italic;
text-align: center;
opacity: 0.9;
border-top: 4px solid $light;
border-bottom: 4px solid $light;
padding: 10px;
margin-left: 15px;
margin-right: 15px;
font-size: 1em;

> :last-child {
  margin-bottom: 0;
  margin-top: 0;
}
}

/* IMAGES */

.gallery-grid {
  display: flex;
  flex-wrap: wrap; 
  gap: 5px;
  justify-content: center;
  width: 90%;
  margin: 0 auto; /* Centers the gallery within the parent */
}

.gallery-grid div {
  flex: 1 1 calc(85% / 3); /* Ensures flexibility */
}

.image-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px; /* Optional for spacing */
}

.image-thumb img {
  object-fit: contain;
  border-radius: 6px;
  max-width: 100%;
  max-height: 100%;
}

.caption {
  width: 80%;
  text-align: center;
  line-height: 1.2;
  font-size: 80%;
  padding: 5px;
}


/* GISTS */

.gist-center {
display: flex;
justify-content: center;
}

.gist-data{
height: 500px; // Any height
overflow-y: visible;
}

.gist .blob-code {
padding: 0px 0px !important;
text-align: left;
background: rgba(0, 0, 0, 0);
border: 0;
width: 90%;
}

.gist {
width: 90%;
padding: 10px;
}

.gist .blob-code-inner { 
font-size: 10px !important; 
}


/* OTHER */
.html-center {
display: flex;
justify-content: center;
padding: 10px;
width: 90%;
margin: 0 auto;
overflow: hidden;
}

.html-align {
width: 70%;
display: flex;
justify-content: flex-start;
}

/* COLLAPSIBLE SECTIONS */

details {
  margin: 10px 0;
  padding: 10px 20px 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.details-content {
  padding: 10px; // Padding only for the text inside
  line-height: 1.5;
}

summary {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em; /* Adjust as needed */
  padding: 5px;
}

details:hover {
  background: #ccc;
}
summary:hover {
  color: $text-link-blue-active;
  background: #ccc;
}

/* Dark Mode Styling */

body[data-theme="dark"] {
summary:hover {
  color: $dark-text-link-blue-active;
  background-color: #202020;
}

details:hover {
  background-color: #202020;
}

}


